<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/style.css" />
    <link rel="stylesheet" href="../public/styles/Account_styles.css" />
    <title>Softmeet Dashboard</title>
  </head>

  <body>
    <div class="sidebar-container">
      <a href="Overview.html"><img src="../public/images/logo2.png" alt="logo" /></a>
      <h3>Samantha James</h3>
      <div class="charts-links">
        <div class="inlink">
          <img src="../public/images/user.png" alt="" />
          <a href="Account.html">My Profile</a>
        </div>
        <div class="inlink">
          <img src="../public/images/log-out 1.png" alt="" />
          <a href="Login">Log Out</a>
        </div>
      </div>
    </div>

    <div class="Main">
      <div class="header-container">
        <div class="dashboard-btn">
          <a href="Overview.html">Dashboard</a>
        </div>
      </div>

      <img src="../public/images/Woman.png" alt="profile-picture" />

      <div class="form-container">
        <form action="" method="">
          <div class="input-group">
            <label for="fName">First Names</label>
            <input
              type="text"
              name="fName"
              id="fName"
              placeholder="First Name"
              required
            />
          </div>
          <div class="input-group">
            <label for="lName">Last Names</label>
            <input
              type="text"
              name="lName"
              id="lName"
              placeholder="Last Name"
              required
            />
          </div>
          <div class="input-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email Address"
              required
            />
          </div>
          <div class="input-group">
            <label for="phone_number">Mobile Number</label>
            <input
              type="phone_number"
              name="phone_number"
              id="phone_number"
              placeholder="Phone Number"
              required
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
